<section class="header">
    <div id="about_me">
      <p id="name">Luis Rascon</p>
      <p id="profession">Full Stack Developer, Angular Specialist, Github Enjoyer</p>
      <p id="objetive">
        Decidido a desarrollar código de calidad en base a buenas practicas y el aprendizaje de
        nuevas tecnologias
      </p>
    </div>
    <div id="profile_picture">
      <img src="assets/images/Luffy-PFP-1.jpg" alt="profile picture" id="profile_img">
    </div>
    <div id="my_data">
      <p id="email">
          luis_andres123#live.com
          <img src="assets/images/email.jpeg" alt="email icon" class="icon">
      </p>
      <p id="phone">
          287-108-89-09
          <img src="assets/images/phone.jpg" alt="phone icon" class="icon">
      </p>
      <p id="address">
          Orizaba, Ver.
          <img src="assets/images/address.jpg" alt="address icon" class="icon">
      </p>
      <p id="github">
          Lu1sAndr3sR
          <img src="assets/images/github.jpg" alt="github icon" class="icon">
      </p>
    </div>
  </section>